* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative; }

td, tr {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 15px; }

html body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

.header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #8AC858;
  box-shadow: 0px 2px 5px #1d1d1d;
  z-index: 10; }
  .header__size {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-left: 20px; }
  .header__clocks {
    float: right;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-right: 20px; }

.sidebar {
  height: 100%;
  width: 250px;
  left: -250px;
  padding: 60px 10px 60px 10px;
  background-color: #ECEFF1;
  transition: all .4s;
  position: fixed;
  z-index: 5;
  min-width: 200px; }
  .sidebar__button {
    position: relative;
    left: 270px;
    top: 20px;
    color: black; }
  .sidebar__list {
    padding-left: 10px;
    list-style-type: none; }
  .sidebar__link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-right: 3px solid black;
    transition: all 0.2s;
    border-bottom: 1px solid transparent;
    color: #1d1d1d; }
    .sidebar__link:hover {
      border-right: 5px solid blue;
      border-bottom: 1px solid blue; }

.activeSidebar {
  left: 0; }

.content {
  transition: all .4s;
  padding-top: 70px;
  padding-bottom: 70px;
  max-width: 1200px;
  margin: 0 auto; }

.contentSidebarOn {
  padding-left: 250px; }

.footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  width: 100%;
  background-color: #FBFAFA;
  transition: all .4s;
  z-index: 10; }
