@mixin slider {
    margin: 0 auto;
    width: 900px;
    height: 600px;
    overflow: hidden;
    background-size: cover;
    transition: all 1s;

    &__container {
        width: 9999px;
    }

    &__item {
        display: inline-block;
        float: left;
        transition: all .4s;
        left: 0;
    }

    &__image {
        width: 900px;
        height: 600px;
    }
}